<footer class="footer">
  <img src="{{uiRootPath}}/img/hartshorn.png" alt="Hartshorn Logo" class="footer-logo"/>
  <p>Copyright &copy; 2019 - {{year}} Dockbox OSS (Guus Lieben)</p>
  <p class="legal">All other trademarks and copyrights are property of their respective owners and are only mentioned for informative purposes. Other names may be trademarks of their respective owners.</p>
</footer>
